*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background: #080808;
    color: #fff;
}

section
{
    height: 100vh;
}
#header{
    /* width: 100%;
    height: 100vh;
    background-image: url(./img/background1.jpeg);
    background-size: cover;
    background-position: left; */
    position: fixed;
    z-index: 1;
    /* border: 2px solid red; */
    width: 100%;
}
#home{
    width: 100%;
    height: 100vh;
    /* background-image: url(./img/background1.jpeg); */
    /* background-size: cover; */
    /* border: 2px solid red; */
    display: flex;
    /* justify-content: center; */
    align-items: center;

    /* background-position: left; */
}

#home img
{
    position: absolute;
    height: 100%;
    width: 100vw;
    z-index: -1;
}


.container{
    padding: 20px 20px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 15px 25px;
}
nav ul li a{
    color: #fff;
    text-decoration: dashed;
    font-size: 25px;
    position: relative;
}
nav ul li a::after{
    content:'';
    width: 0;
    height: 5px;
    background: #ff006f;
    position: absolute;
    left:0;
    bottom: -9px;
    transition: 0.6s;

}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    /* margin-top: 25%; */
    font-size: 35px;
}
.header-text h1{
    font-size: 55px;
    margin-top: 25px;

}
.header-text h2{
    font-size: 45px;
    margin-top: 20px ;
}
.header-text h1 span{
    color: darkred;
}
/* ------------about------------- */
#about{
    padding: 80px 0;
    color:darkgrey;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;

}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 70%;
    height: 80%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 40px;
    font-weight: 400;
    color: darksalmon;
}
#header2{
    padding: 80px 0;
    color: beige;
}

#skills
{
    display: flex;
    /* border: 2px solid red; */
    justify-content: center;
}

#skills .sk-edu
{
    display: flex;
    /* border: 2px solid red; */
    width: 60%;
    justify-content: space-between;
}
#skills h1{
    color:indianred;
}


.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
  margin-top: 30px;  
}
.contact-left p i{
    color:deeppink ;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color:lavender;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: deeppink;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background:violet;    
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}